.detail {
  &-image-container{
    width: 80%;
    height: 80%;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
  }
  &-title-wrapper {
    @include flex(flex-start, space-between);
    margin-bottom: 20px;
  }
  &-title {
    margin-bottom: 20px;
    line-height: 1.4;
  }
  &-title-wrapper .detail-btn-wrapper {
    margin-left: auto;
  }
  &-date {
    font-size: 14px;
  }
  &-date > span {
    @include dotSeparate("left");
  }
  &-time{
    font-size: 14px;
    & i{
      font-size: 16px;
    }
    & span{
      @include dotSeparate("left");
    }
  }
  &-desc > p {
    text-align: justify;
  }
  &-desc i1{
    font-weight: 600;
  }
  &-instruction{
    margin: 10px 0;
  }
  &-instruction-item{
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    & span{
      padding: 5px;
      width: 30px;
      height: 30px;
      color: $primary-color;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 5px;
      background-color: rgba($primary-color, 0.1);
    }
    & p{
      display: inline;
    }
  }
  &-author-wrapper {
    display: flex;
    margin-bottom: 40px;
  }
  &-author-wrapper .detail-author-name {
    margin-left: 10px;
  }
  &-author-image {
    @include size(60px);
    border-radius: 50%;
    object-fit: cover;
  }
  &-author-name {
    margin-top: 10px;
    color: $gray;
    font-weight: 600;
    font-size: 20px;
  }
  &-category {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-bottom: 20px;
  }
  &-category-item {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    color: $secondary-color;
    background-color: rgba($secondary-color, 0.1);
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.4;
  }
}
