.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
}
.form {
  position: relative;
  width: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  &-fill {
    display: flex;
    flex-direction: column;
  }
  &-title {
    order: -1;
    margin-bottom: 25px;
  }
  &-error {
    height: 16px;
    width: 100%;
    color: red;
    font-size: 14px;
    padding-left: 15px;
  }
  &-btn {
    padding: 10px 20px;
  }
  &-link {
    color: $primary-color;
  }
}

.text-field {
  position: relative;
  margin-bottom: 15px;
  & label {
    display: inline-block;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10px;
    background-color: white;
    padding: 1px 5px;
    font-size: 12px;
    transform: translateY(-50%);
    color: $primary-color;
  }
  & input {
    padding: 15px;
    display: block;
    width: 100%;
    color: $gray;
    font-size: 14px;
    border: 1px solid $primary-color;
    border-radius: 4px;
  }
}
