.header {
  height: 60px;
  box-shadow: $shadow;
  margin-bottom: 20px;
  &-top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  &-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &-login-wrapper {
    min-width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &-user-name {
    margin-left: 10px;
    display: block;
  }
}

.dropdown {
  background-color: transparent;
  position: relative;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &-caret {
    color: $primary-color;
    font-size: 24px;
    margin-left: 10px;
  }
  &-select {
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &-select * {
    pointer-events: none;
  }
  &-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: $shadow;
    padding: 15px;
    border-radius: 8px;
    display: none;
    width: 100%;
  }
  &-list:before {
    content: "";
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
  }
  &-list.show {
    display: block;
  }
  &-item {
    padding: 15px;
    color: $secondary-color;
    transition: all 0.25s ease;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item span {
    font-weight: 600;
  }
  &-item:hover {
    color: $primary-color;
    background-color: #f1fbff;
  }
}
