*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #111;
}
.gallery{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 4px;
    width: auto;
}  
  /* Create four equal columns that sits next to each other */
.column {
    float: left;
    width: 33.33%;
    height: auto;
    padding: 0 4px;
    position: relative;
}
.column img {
    margin-top: 8px;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 8px;
    border: none;
    width: 100%;
}
.column img:hover{
  border: 2px solid #ffffff;
  box-shadow: 0 0 5px #ffffff;
}
.column .item-desc{
    color: #ffffff;
    text-shadow: 0 0 5px #333;
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    top: 10px;
    left: 10px;
}
/* Style the buttons */
.category-select{
  margin: 10px 0 5px 10px;
  display: flex;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 0 3px;
    background-color: #f1f1f1;
    font-size: 18px;
    font-style: italic;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
.btn a{
  text-decoration: none;
}
/*  */
.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
.form-popup {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 90%;
    height: 90%;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    overflow-y: scroll;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    color: #333;
    font-size: 20px;
    background: #ffffff;
}
.main-more-detail{
    display: flex;
    flex-direction: row;
}
.right-form{
  width: 70%;
}
  /*==================== Food Title ====================*/
  .more-detail-title{
    position: relative;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 0 0 5px #ffffff;
  }
  /* Line */
  .form-popup hr{
    margin: 2px 10px;
    height: 1px;
    background-color: #ddd;
    border: none;
  }
  /* Food description */
  .more-detail-desc p{
    font-size: 20px !important;
    margin: 10px 0;
  }
  /* Big Image */
  .more-detail-img-big{
      display: flex;
      justify-content: center;
  }
  .form-popup img{
    width: 90%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
  }
  /* recipe category */
  .more-detail-category span {
    display: inline-block;
    margin: 0 5px;
  }
  @media screen and (max-width: 1000px) {
    .column .item-desc{
      font-size: 15px;
    }
    .main-more-detail{
      width: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      flex-wrap: wrap !important;
    }
    .right-form{
      width: 100%;
    }
    .more-detail-img-big{
      display: flex;
      justify-content: center;
  }

  }